/nbproject/
/.idea
/js-src
/.vscode
/vendor
.env
/package
/www/Public/libs
/www/Uploads

/lara/storage
/lara/vendor/composer/installed.json

.phpunit.result.cache


/www/Public/static/dist/admin
/app/Admin/View/default/Public/vendor.html
/app/Admin/View/default/ReactBuildTest/index.html