<extend name="Base/common"/>

<block name="body">
   <div class="wrapper user-login-reg container">
	<h1>完善个人资料，完成注册</h1>
	<div class="pure-g">
		<div class="pure-u-2-3">
			<div class="tabs">
			    <ul>
			        <li><a href="#tab-1">无EV帐号</a></li>
			        <li><a href="#tab-2">绑定已有帐号</a></li>
			    </ul>
			    <div id="tab-1" class="tab-content">
			    	<form action="{:U('home/addons/execute',array('_addons'=>'SyncLogin','_controller'=>'Register','_action'=>'doregister'))}" method="post" class="pure-form pure-form-aligned">
						<fieldset>
							<div class="pure-control-group">
					            <label for="email">电子邮箱</label>
					            <input name="email" type="text">
					        </div>
					        <div class="pure-control-group">
					            <label for="nickname">昵　　称</label>
					            <input name="nick_name" type="text" value="{$user_info.name}">
					        </div>
					        <div class="pure-control-group">
					            <label for="pwd">设置密码</label>
					            <input name="pwd" type="password">
					        </div>
					        <div class="pure-control-group">
					            <label for="repwd">确认密码</label>
					            <input name="repwd" type="password">
					        </div>
					        <div class="pure-control-group">
					            <label for="real_name">真实姓名</label>
					            <input name="real_name" type="text">
					        </div>
					        <div class="pure-control-group">
					            <label for="gender">性　　别</label>
                                                                                            <volist name=':callDBContFun("getGenderList")' id="gender">
                                                                                                <input type="radio" name="gender" value="{$key}"> {$gender}
                                                                                            </volist>
					        </div>
					        <div class="pure-control-group">
					            <label for="company">所属学校/单位</label>
					            <input name="company" type="text">
					        </div>
					        <div class="pure-control-group">
					            <label for="join_activity">是否参加过EV活动</label>
					            <input type="radio" name="join_activity" id="yes" value="1"> 是 
					            <input type="radio" name="join_activity" id="no" value="0"> 否
					        </div>
					        <div class="pure-control-group">
					            <label for="reason">注册原因</label>
					            <textarea name="reason"></textarea>
					        </div>
					        <div class="pure-controls">
					        	<label for="cb" class="pure-checkbox">
					                <input id="cb" name="agree" type="checkbox"> 我已阅读并同意<a href="#">服务条款及隐私权政策</a>
					            </label>

					            <button type="submit" class="pure-button button-more">注册</button>
					        </div>
					    </fieldset>
					</form>
			    </div>
			    <div id="tab-2" class="tab-content">
			    	<form action="{:U('home/addons/execute',array('_addons'=>'SyncLogin','_controller'=>'Register','_action'=>'dobind'))}" method="post" class="pure-form pure-form-aligned">
			    		<div class="pure-control-group">
			    			<label for="uid">用户名</label>
			    			<input name="uid" type="text" class="inputtext username" placeholder="用户名/邮箱">
			    		</div>
			    		<div class="pure-control-group">
			    			<label for="pwd">密码</label>
							<input name="pwd" type="password" class="inputtext password" placeholder="密码">
						</div>
                                                                                                <eq name="verify_show" value="true">
						<div class="validate pure-control-group">
							<label for="validatecode">验证码</label>
							<input name="verify" class="validatecode" type="text" placeholder="验证码">
							<img src="{:U('admin/Public/verify/?length=4&imageW=110&imageH=34&fontSize=18')}" >
						</div>
                                                                                                </eq>
						<div class="pure-controls">
							<input type="submit" class="pure-button button-more" value="登录">
						</div>
			    	</form>
			    </div>
			</div>
		</div>
		<div class="pure-u-1-3" style="margin-top:30px;">
			<img src="__PUBLIC__/img/reg.jpg" alt="">
		</div>
	</div>
	<script src="__PUBLIC__/libs/tabslet.js"></script>
	<script>
	$(function(){
	    $('.tabs').tabslet();
	});
	</script>
</div>
</block>