<div id="leftTabBox" class="tabBox" style="margin:.2rem 0 0 0;padding:0;">
    <div class="hd huoban">
        <ul>
            <li><a href="#">项目详情</a></li>
            <li><a href="#">项目进展</a></li>
            <li><a href="#">项目结项</a></li>
        </ul>
    </div>
    <div class="bd" id="tabBox1-bd">
        <div class="con">
            <div class="project-details-content">
                <div class="content">
                    <p>为了给乡村小学孩子提供良好的读书环境，培养阅读习惯，提高阅读兴趣，广州市慈善会联合生活元素杂志社于2007年底开展乡村小学图书馆计划，并设立“悦读与爱相随——乡村小学图书馆”专项基金。</p>
                    <img src="images/announcement-details.jpg" alt="">
                    <img src="images/announcement-details.jpg" alt="">
                    <p>古人有“读书破万卷，下笔如有神”之说，由此可见课外阅读的重要性。课外阅读在语文教学占有相当大的比重。开展好课外阅读，是提高学生语文修养，增强语言积累，拓展阅读知识，提高读书能力的重要途径，为他们今后的学习、生活和工作奠定坚实的基础。然而农村小学生由于受办学条件、家庭与社会环境的影响，课外阅读量很少，这自然影响了农村孩子学业质量的提升。为了给乡村孩子提供良好的读书环境，我们开展乡村小学图书馆计划，改善国内贫困乡村阅读环境。目前已经在从化、清远、韶关、江门、梅州、罗定、怀集、连南等地建立乡村小学图书馆59间。</p>
                </div>
                <dl>
                    <dt>我们如何使用这些善款</dt>
                    <dd>五万元就能建立一个图书馆，我们期望能够为国内4个贫困乡村建设图书馆。每个图书馆的费用包括：</dd>
                    <dd>装修费2.5万元，包括贴喷画、门牌、书架、阅读桌椅等物资； 图书购买费2万元，包括2000册各类课外读物；</dd>
                    <dd>文体用品1000元，包括足球、篮球、乒乓球、跳绳等；</dd>
                    <dd>志愿者交通、测量、路桥等费用4000元。</dd>
                </dl>
                <div class="tabBox-more">
                    加载更多<i></i>
                </div>
                <div class="content">
                    <a href="#" class="btn-a">我要捐赠支持</a>
                </div>
            </div>
        </div>
        <div class="con">
            <div class="project-details-content">
                <div class="content">
                    <p>为了给乡村小学孩子提供良好的读书环境，培养阅读习惯，提高阅读兴趣，广州市慈善会联合生活元素杂志社于2007年底开展乡村小学图书馆计划，并设立“悦读与爱相随——乡村小学图书馆”专项基金。</p>
                    <img src="images/announcement-details.jpg" alt="">
                    <img src="images/announcement-details.jpg" alt="">
                    <p>古人有“读书破万卷，下笔如有神”之说，由此可见课外阅读的重要性。课外阅读在语文教学占有相当大的比重。开展好课外阅读，是提高学生语文修养，增强语言积累，拓展阅读知识，提高读书能力的重要途径，为他们今后的学习、生活和工作奠定坚实的基础。然而农村小学生由于受办学条件、家庭与社会环境的影响，课外阅读量很少，这自然影响了农村孩子学业质量的提升。为了给乡村孩子提供良好的读书环境，我们开展乡村小学图书馆计划，改善国内贫困乡村阅读环境。目前已经在从化、清远、韶关、江门、梅州、罗定、怀集、连南等地建立乡村小学图书馆59间。</p>
                </div>
                <dl>
                    <dt>我们如何使用这些善款</dt>
                    <dd>五万元就能建立一个图书馆，我们期望能够为国内4个贫困乡村建设图书馆。每个图书馆的费用包括：</dd>
                    <dd>装修费2.5万元，包括贴喷画、门牌、书架、阅读桌椅等物资； 图书购买费2万元，包括2000册各类课外读物；</dd>
                    <dd>文体用品1000元，包括足球、篮球、乒乓球、跳绳等；</dd>
                    <dd>志愿者交通、测量、路桥等费用4000元。</dd>
                </dl>
                <div class="tabBox-more">
                    加载更多<i></i>
                </div>
                <div class="content">
                    <a href="#" class="btn-a">我要捐赠支持</a>
                </div>
            </div>
        </div>
        <div class="con">
            <div class="project-details-content">
                <div class="content">
                    <p>为了给乡村小学孩子提供良好的读书环境，培养阅读习惯，提高阅读兴趣，广州市慈善会联合生活元素杂志社于2007年底开展乡村小学图书馆计划，并设立“悦读与爱相随——乡村小学图书馆”专项基金。</p>
                    <img src="images/announcement-details.jpg" alt="">
                    <img src="images/announcement-details.jpg" alt="">
                    <p>古人有“读书破万卷，下笔如有神”之说，由此可见课外阅读的重要性。课外阅读在语文教学占有相当大的比重。开展好课外阅读，是提高学生语文修养，增强语言积累，拓展阅读知识，提高读书能力的重要途径，为他们今后的学习、生活和工作奠定坚实的基础。然而农村小学生由于受办学条件、家庭与社会环境的影响，课外阅读量很少，这自然影响了农村孩子学业质量的提升。为了给乡村孩子提供良好的读书环境，我们开展乡村小学图书馆计划，改善国内贫困乡村阅读环境。目前已经在从化、清远、韶关、江门、梅州、罗定、怀集、连南等地建立乡村小学图书馆59间。</p>
                </div>
                <dl>
                    <dt>我们如何使用这些善款</dt>
                    <dd>五万元就能建立一个图书馆，我们期望能够为国内4个贫困乡村建设图书馆。每个图书馆的费用包括：</dd>
                    <dd>装修费2.5万元，包括贴喷画、门牌、书架、阅读桌椅等物资； 图书购买费2万元，包括2000册各类课外读物；</dd>
                    <dd>文体用品1000元，包括足球、篮球、乒乓球、跳绳等；</dd>
                    <dd>志愿者交通、测量、路桥等费用4000元。</dd>
                </dl>
                <div class="tabBox-more">
                    加载更多<i></i>
                </div>
                <div class="content">
                    <a href="#" class="btn-a">我要捐赠支持</a>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>