<div id="leftTabBox" class="tabBox" style="margin:.2rem 0 0 0;padding:0;">
    <div class="hd huodong">
        <ul class="clearfix">
            <li><a href="#"><i class="iconfont">&#xe603;</i><br/>新闻公告</a></li>
            <li><a href="#"><i class="iconfont">&#xe606;</i><br/>活动视频</a></li>
            <li><a href="#"><i class="iconfont">&#xe607;</i><br/>活动图集</a></li>
        </ul>
    </div>
    <div class="bd" id="tabBox1-bd">
        <div class="con content">
            <div>
                <a class="it-delivery clearfix" href="活动新闻详情.html">
                    <div class="delivery-l"><img src="images/delivery-l.jpg" alt=""></div>
                    <div class="delivery-r">
                        <h2>为爱行走广州站随答谢会圆满帷幕</h2>
                        <p>广州荔湾区一起开工社区，为爱行走广州站答谢会在此举行...</p>
                        <span class="fr">查看详情<i></i></span>
                        <time>2016-06-13 </time>
                    </div>
                </a>
                <a class="it-delivery clearfix" href="活动新闻详情.html">
                    <div class="delivery-l"><img src="images/delivery-l.jpg" alt=""></div>
                    <div class="delivery-r">
                        <h2>为爱行走广州站随答谢会圆满帷幕</h2>
                        <p>广州荔湾区一起开工社区，为爱行走广州站答谢会在此举行...</p>
                        <span class="fr">查看详情<i></i></span>
                        <time>2016-06-13 </time>
                    </div>
                </a>
                <a class="it-delivery clearfix" href="活动新闻详情.html">
                    <div class="delivery-l"><img src="images/delivery-l.jpg" alt=""></div>
                    <div class="delivery-r">
                        <h2>为爱行走广州站随答谢会圆满帷幕</h2>
                        <p>广州荔湾区一起开工社区，为爱行走广州站答谢会在此举行...</p>
                        <span class="fr">查看详情<i></i></span>
                        <time>2016-06-13 </time>
                    </div>
                </a>
                <div class="tabBox-more">
                    加载更多<i></i>
                </div>
            </div>
        </div>
        <div class="con">
            <div>
                <ul class="video">
                    <li>
                        <video id="media" controls="" poster="images/announcement-details.jpg" preload="none" height="100%" width="100%">
                            <source src="http://minkbooks.com/content/trailer.mp4">
                            <source src="http://minkbooks.com/content/trailer.ogg">
                        </video>
                        <p>为爱行走广州站随答谢会结束圆满帷幕</p>
                    </li>
                    <li>
                        <video id="media" controls="" poster="images/announcement-details.jpg" preload="none" height="100%" width="100%">
                            <source src="http://minkbooks.com/content/trailer.mp4">
                            <source src="http://minkbooks.com/content/trailer.ogg">
                        </video>
                        <p>为爱行走广州站随答谢会结束圆满帷幕</p>
                    </li>
                </ul>
                <div class="tabBox-more">
                    加载更多<i></i>
                </div>
            </div>
        </div>
        <div class="con">
            <div>
                <ul class="atlas-images clearfix">
                    <li><img src="images/atlas-images1.jpg" alt=""></li>
                    <li><img src="images/atlas-images2.jpg" alt=""></li>
                    <li><img src="images/atlas-images3.jpg" alt=""></li>
                    <li><img src="images/atlas-images4.jpg" alt=""></li>
                </ul>
                <div class="tabBox-more">
                    加载更多<i></i>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>