<!-- Swiper -->
<div class="swiper-container banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/banner.jpg" alt=""></div>
        <div class="swiper-slide"><img src="images/banner.jpg" alt=""></div>
        <div class="swiper-slide"><img src="images/banner.jpg" alt=""></div>
        <div class="swiper-slide"><img src="images/banner.jpg" alt=""></div>
        <div class="swiper-slide"><img src="images/banner.jpg" alt=""></div>

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination banner-pagination"></div>
</div>
