<extend name="../app/Admin/View/default/common/dashboard_layout.html"/>

<block name="content">
<!-- Content Header (Page header) -->
<section class="content-header clearfix">
    <h1 class="pull-left">
        线下捐赠导入
    </h1>
    <div class='pull-right'>
    <form id="frm" action="{:addons_url('Donate://Donate/import')}" method="post" enctype="multipart/form-data">
        <p class="btn btn-primary btn-sm fileinput-button">
            <span id="import_btn">上传excel</span>
            <input id="import-volunteer" style="display:none;" type="file" name="file">
        </p>
    </form>

        </div>
</section>

<!-- Main content -->
<section class="content" n-id="294">
    <p>
        此页面用于导入线下捐赠的信息，包括单次捐赠、活动捐赠。其中活动捐赠的信息将导入到具体的活动捐赠记录中。
    </p>
    <p>导入前，请<a href="{:addons_url('Donate://Donate/exportTemplate')}" >下载导入模板</a>，并按模板编辑好捐赠信息。</p> 
    <p>要开始导入线下捐赠信息，请点击右侧的上传按钮。</p>
    <p><strong>PS.</strong>捐赠类型、捐赠名称、捐赠渠道必须按系统给的内容选择填写，否则将提示导入出错。</p>
    <p>捐赠类型决定捐赠名称的内容，例如：当捐赠类型是单次捐赠时，捐赠名称就是系统预设的捐赠用途；捐赠类型是活动捐赠时，捐赠名称就是具体的捐赠活动名称</p>
    <p>下面列出导入信息中，这三个字段可填写的内容：</p>
    <p><strong>捐赠类型：</strong>单次捐赠  活动捐赠</p>
    <hr>
    <p><strong>单次捐赠的捐赠名称（即捐赠用途）：</strong><volist name=":readDBDataList('DonateProject', 'status=1', 'sort asc')" id='project'>{$project.title}&nbsp;&nbsp;&nbsp;&nbsp;</volist></p>
    <hr>
    <p><strong>活动捐赠的捐赠名称（即具体的捐赠活动名称）：</strong><volist name=":importAbleDactivity()" id='dactivity'>{$dactivity.title}&nbsp;&nbsp;&nbsp;&nbsp;</volist></p>
    <p>（<strong>注意：</strong>仅可导入捐赠结束时间2个月内的捐赠活动记录。）</p>
    <hr>
    <php>$channel_list = \Addons\Donate\DonateCont::getPayChannelList();</php>
    <p><strong>捐赠渠道：</strong><volist name="channel_list" id='pay'>{$pay}&nbsp;&nbsp;&nbsp;&nbsp;</volist></p>
<form action="{:addons_url('Donate://Donate/add')}" class="ajax-import" method="post">
    <div class="box box-solid">
        <table class="table table-hover donate_excel">
            <present name='import_file'>
                {:W('Addons://Donate/DonateImport/index', array('import_file' => $import_file))}
            </present>
        </table>
    </div>
    <present name='import_file'>
    <button class="btn btn-primary btn-sm">导入</button>
    </present>
</form>
</section>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#import-volunteer').on('change', function(){
            $('#frm').submit();
        });
        
        $("#import_btn").on('click', function(){
           $('#import-volunteer').click();
        });
        
        $('body').delegate('.ajax-import', 'submit', function(e) {
        e.preventDefault();
        var formValues = $(this).serialize();
        $('.donate_excel td').css('background-color', '');
        $('.donate_excel span').html('');
        $.ajax({
            url: $(this).attr('action') ? $(this).attr('action') : document.URL,
            type: $(this).attr('method'),
            data: formValues,
            beforeSend: function() {
                $('button[type=submit]').attr('disabled', true);
                toastr.remove();
                toastr["info"]("操作进行中");
                return true;
            },
            success: function(data) {
                //成功状态，下面的是服务器返回的，数据库操作的状态
                console.log(data);
                if(data.status == 1){
                    toastr.remove();
                    toastr["success"](data.msg);
                }
                else{
                    if(data.msg){
                        toastr.remove();
                        $.bs_messagebox('错误', data.msg, 'ok');
                    }
                    else{
                        toastr.remove();
                        for(var i = 0; i<data.data.length; i++){
                            var err = data.data[i];
                            $('#' + err.error_id).parent().css('background-color', 'red');
                            $('#' + err.error_id + '_err').html(err.error_msg);
                        }
                    }
                }
                if(data.url){
                    setTimeout(function() {
                        window.location = data.url;
                    }, 300);
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                toastr.remove();
                $.bs_messagebox('错误', $(XMLHttpRequest.responseText).find('h1').text(), 'ok');
                $(this).attr('disabled', false);
            },
        });
    });
    });
</script>
</block>