<div class="swiper-container freemode-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="#"><img src="images/freemode.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="images/freemode.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="images/freemode.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="images/freemode.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="images/freemode.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="images/freemode.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="images/freemode.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="images/freemode.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="images/freemode.jpg" alt=""></a></div>
    </div>
    <!-- Add Pagination -->
    <!-- <div class="swiper-pagination  freemode-pagination"></div> -->
</div>